#app {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;

  color: var(--text);
  background-color: var(--color-2);
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* No more selecting things that shouldn't be selected */
  user-select: none;
  /* get rid of annoying blue boxes that show up on click */
  -webkit-tap-highlight-color: transparent;
}

span:not(.material-icons-round),
p,
small,
em,
h1 {
  user-select: text;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* *::-webkit-scrollbar {
  display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* * {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */

a {
  text-decoration: none;
  color: inherit;
}
