:root {
  --background: linear-gradient(
    135deg,
    rgba(249, 249, 249, 1) 0%,
    rgba(244, 252, 255, 1) 100%
  );
  --color-1: rgb(255, 255, 255);
  --color-2: rgb(243, 246, 246);
  --washed-gray: rgb(230, 230, 230);
  --light-gray: rgb(212, 212, 212);
  --gray: rgb(144, 144, 144);
  --text: rgb(66, 66, 66);
  --text-light: rgb(122, 122, 122);
  --text-red: rgb(255, 38, 38);
  --text-violet: rgb(212, 94, 228);
  --text-green: rgb(6, 200, 23);
  --text-blue: rgb(127, 192, 236);
  --text-yellow: rgb(255, 222, 38);
  --text-orange: rgb(255, 126, 20);
  --blue: #273292;
  --vibrant-blue: #006eff;
  --sage: #d1c897;
  --gold: rgb(248, 220, 60);
  --green: rgb(61, 195, 83);
  --dark: rgb(40, 40, 54);
  --darker: rgb(36, 36, 46);
  --darkest: rgb(24, 24, 36);
}
